/* Basic Reset and Import Normalize.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* Global Styles */
body {
    background-color: #f4f4f4; /* Soft gray background for overall body */
    font-family: Arial, sans-serif;
    color: #333; /* Darker text for better readability on light background */
}

/* Banner Styles */
#banner {
    position: relative;
    width: 100%;
    height: 250px; /* Adjust the height as needed */
}

#banner-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures video covers banner area */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Under the text */
}

#banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* White text color for contrast */
    font-size: 2em; /* Text size */
    text-align: center;
    z-index: 2; /* Above the video */
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7); /* Text shadow for better legibility */
}

/* Navigation Bar Styles */
#navbar {
    background-color: #0056b3; /* A cooler shade of blue for the navbar */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Less pronounced shadow for subtlety */
    transition: box-shadow 0.3s ease;
    z-index: 10; /* Ensure navbar is above video */
}

#navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin: 0;
}

#navbar ul li {
    margin: 0 20px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px; /* Slightly rounded corners for a softer look */
    transition: background-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white for a frosted effect */
    backdrop-filter: blur(10px); /* Stronger blur for a prominent frosted look */
}

#navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Lighter on hover for a subtle interaction */
}

/* Main Content Styles */
main {
    padding: 20px;
}

/* Footer Styles */
footer {
    background-color: #002d62; /* A darker shade of blue for the footer */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed; /* Keep it at the bottom */
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10; /* Ensure footer is above video */
}

/* Responsive Design */
@media (max-width: 768px) {
    #navbar ul {
        justify-content: space-between;
    }

    #navbar ul li {
        padding: 10px 0; /* Adjust padding for mobile */
    }

    #navbar ul li a {
        padding: 10px;
    }
}
